.button {
  display: block;
  background-color: transparent;
  border: 2px solid #ffffff;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  max-width: 320px;
}

.button:disabled {
  opacity: 0.5;
}
